body {
    background-color:bisque;
    font-family: arial, Helvetica, sans-serif
}

h6 {
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:aquamarine;
}

h4 {
    font-size: 25px
    font-family: 'Segue UI', tahoma, ganeva, Veidana, sans-serif;
    color: darkgreen;
}

h3 {
    border: 4px solid orangered;
}

p {
    border: 2px solid black;
    padding: 20px;
    margin: 30px;
}